[submodule "03_perform_a_step/src/multisig"]
	path = 03_perform_a_step/src/multisig
	url = git@github.com:marigold-dev/multisig.git
[submodule "04_views/src/multisig"]
	path = 04_views/src/multisig
	url = git@github.com:marigold-dev/multisig.git
[submodule "05_event/src/multisig"]
	path = 05_event/src/multisig
	url = git@github.com:marigold-dev/multisig.git
[submodule "06_test/src/multisig"]
	path = 06_test/src/multisig
	url = git@github.com:marigold-dev/multisig.git
